* {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}

body {
  font-size: 14px;
  background: #fff;
  font-family: 'Poppins';
  color: #222;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: none;
  color: #222;
}

input, button {
  outline: none;
}

.live_orders_main .left_sidebar {
  background: #f4f4f4;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 260px;
  height: 100vh;
  padding: 35px 0 92px 35px;
  top: 0;
  z-index: 999;
}

.live_orders_main .left_sidebar .brand_logo {
  margin-bottom: 50px;
}

.live_orders_main .left_sidebar .main_menus ul li a {
  display: block;
  padding: 15px 10px 15px 28px;
  color: #222;
}

.live_orders_main .left_sidebar .main_menus ul li a.active {
  background: #eaeaea !important;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  font-weight: 700;
}

.live_orders_main .left_sidebar .main_menus ul li a:hover {
  background: #f1f1f1;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.live_orders_main .left_sidebar .owner_dtls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 18px;
  padding-top: 18px;
  padding-bottom: 18px;
  border-top: 1px solid #ccc;
  background: url(../images/right_wrrow.png) no-repeat;
  background-size: 24px;
  background-position-x: calc(100% - 15px);
  background-position-y: center;
}

.live_orders_main .left_sidebar .owner_dtls .owner_img {
  margin-right: 12px;
}

.live_orders_main .left_sidebar .owner_dtls .owner_img img {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.live_orders_main .left_sidebar .owner_dtls .owner_name .name {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 0;
  color: #222;
}

.live_orders_main .left_sidebar .owner_dtls .owner_name .name:hover {
  color: #22ad7e;
}

.live_orders_main .left_sidebar .owner_dtls .owner_name .designation {
  color: #c2c2c2;
  margin-bottom: 0;
  margin-top: 4px;
  color: #222;
}

.live_orders_main .left_sidebar .owner_dtls .owner_name .designation:hover {
  color: #22ad7e;
}

.live_orders_main .main_content {
  width: calc(100% - 260px);
  margin-left: auto;
}

.live_orders_main .main_content .content_titlebar {
  position: fixed;
  width: calc(100% - 260px);
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 32px 50px;
  border-bottom: 1px solid #ccc;
  z-index: 99;
  background: #fff;
}

.live_orders_main .main_content .content_titlebar .mobile_toggler {
  cursor: pointer;
  display: none;
}

.live_orders_main .main_content .content_titlebar .mobile_toggler span {
  width: 26px;
  height: 4px;
  border-radius: 40px;
  background: #22ad7e;
  margin: 4px 0;
  display: block;
}

.live_orders_main .main_content .content_titlebar .heading {
  position: relative;
}

.live_orders_main .main_content .content_titlebar .heading h2 {
  margin-bottom: 0;
  font-size: 40px;
  font-weight: 400;
  position: relative;
  cursor: pointer;
}

.live_orders_main .main_content .content_titlebar .heading h2::after {
  content: '';
  position: absolute;
  width: 14px;
  height: 14px;
  border-bottom: 3px solid #222;
  border-right: 3px solid #222;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  right: -35px;
  top: 15px;
}

.live_orders_main .main_content .content_titlebar .heading .sub_menu {
  position: absolute;
  top: calc(100% + 15px);
  left: 0;
  width: 200px;
  padding: 5px 20px;
  border-radius: 12px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  background: #fff;
  opacity: 0;
  visibility: hidden;
}

.live_orders_main .main_content .content_titlebar .heading .sub_menu.open {
  opacity: 1;
  visibility: visible;
}

.live_orders_main .main_content .content_titlebar .heading .sub_menu ul li a {
  display: block;
  padding: 10px 5px;
  color: #222;
}

.live_orders_main .main_content .content_titlebar .heading .sub_menu ul li a:hover {
  color: #22ad7e;
}

.live_orders_main .main_content .content_titlebar .search_bar input {
  width: 350px;
  height: 45px;
  border-radius: 50px;
  border: 1px solid #b9b9b9;
  padding: 8px 12px 8px 50px;
  opacity: 0.6;
  background: url(../images/magnifiying-glass.png) no-repeat 18px center;
  background-size: 18px;
}

.live_orders_main .main_content .content_titlebar .search_bar input:focus {
  opacity: 1;
}

.live_orders_main .main_content .main_cont_wrapper {
  padding: 30px 50px;
  margin-top: 113px;
}

.live_orders_main .main_content .main_cont_wrapper .blue {
  background: #5c4bff !important;
}

.live_orders_main .main_content .main_cont_wrapper .skyblue {
  background: #4bb7ff !important;
}

.live_orders_main .main_content .main_cont_wrapper .violet {
  background: #c44bff !important;
}

.live_orders_main .main_content .main_cont_wrapper .red {
  background: #ff4d83 !important;
}

.live_orders_main .main_content .main_cont_wrapper .green {
  background: #22ad7e !important;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .short_by {
  width: 50%;
  padding-right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .short_by div.head {
  width: 150px;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .short_by .short_one {
  font-weight: 500;
  font-size: 16px;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .short_by .short_one a:hover {
  color: #22ad7e;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .short_by .short_one:not(:first-child) {
  margin-right: 50px;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .short_by .short_one:last-child {
  margin-right: 0;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .status {
  width: 50%;
  padding-left: 5px;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .status .head {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 0;
  margin-right: 10px;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .status span {
  width: 28px;
  height: 4px;
  border-radius: 10px;
  background: #cacaca;
  margin: 0 5px;
  display: block;
}

.live_orders_main .main_content .main_cont_wrapper .shorting_order_status .status span.active {
  background: #5c4bff;
}

.live_orders_main .main_content .main_cont_wrapper .sub_tabs {
  border-bottom: 1px solid #ccc;
}

.live_orders_main .main_content .main_cont_wrapper .sub_tabs .tab_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 190px;
  padding-bottom: 18px;
  position: relative;
}

.live_orders_main .main_content .main_cont_wrapper .sub_tabs .tab_one.active::after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 5px;
  background: #000;
  bottom: -5px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.live_orders_main .main_content .main_cont_wrapper .sub_tabs .tab_one .count {
  width: 37px;
  margin-right: 10px;
  height: 25px;
  border-radius: 8px;
  color: #fff;
  background: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 14px;
}

.live_orders_main .main_content .main_cont_wrapper .sub_tabs .tab_one a {
  font-weight: 700;
}

.live_orders_main .main_content .main_cont_wrapper .sub_tabs .tab_one a:hover {
  color: #22ad7e;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 30px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets {
  width: 600px;
  background: #fff;
  border-radius: 15px;
  padding: 25px 25px 25px 30px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #ccc;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 12px 20px 12px 30px;
  cursor: pointer;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one::after {
  content: '';
  position: absolute;
  width: calc(100% + 1px);
  height: calc(100% + 1px);
  left: 0;
  top: 0;
  border-radius: 8px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: 1px solid red;
  opacity: 0;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one.border_blue::after {
  border-color: #5c4bff;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one.border_red::after {
  border-color: #ff4d83;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one.border_skyblue::after {
  border-color: #4bb7ff;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one.border_violet::after {
  border-color: #c44bff;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one.border_green::after {
  border-color: #22ad7e;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one:hover {
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.12);
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one:hover::after {
  opacity: 1;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one > div:first-child {
  width: 6px;
  height: calc(100% + 1px);
  position: absolute;
  left: -6px;
  border-radius: 40px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one:not(:last-child) {
  margin-bottom: 18px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one .img {
  margin-right: 30px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one .img img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one .orderdtl h4 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 0;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one .orderdtl .item_rs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 8px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one .orderdtl .item_rs p {
  margin-bottom: 0;
  padding-right: 20px;
  position: relative;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one .orderdtl .item_rs p::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #222;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .all_outlets .outlet_one .time_remain {
  margin-left: auto;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details {
  width: calc(100% - 630px);
  margin-left: auto;
  border-radius: 15px;
  padding: 25px 25px 25px 30px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 20px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .outlet_img {
  margin-right: 30px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .outlet_img img {
  width: 60px;
  height: 60px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .order_id h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .order_id .item_rs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .order_id .item_rs p {
  margin-bottom: 0;
  padding-right: 20px;
  position: relative;
  font-size: 16px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .order_id .item_rs p::after {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #222;
  right: 8px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .order_id .item_rs span {
  font-size: 16px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .status {
  text-align: center;
  margin-left: auto;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .status .whatstatus {
  width: 150px;
  height: 42px;
  border-radius: 8px;
  background: #eeedff;
  color: #5c4bff;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 6px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .top_head .status .time {
  font-size: 16px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_short_desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_short_desc .order_desc_one .heading {
  font-weight: 700;
  font-size: 16px;
  margin-bottom: 5px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_short_desc .order_desc_one p {
  font-size: 16px;
  margin-bottom: 2px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_short_desc .order_desc_one:nth-child(2) {
  text-align: right;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_short_desc .order_desc_one:last-child {
  text-align: right;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment {
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 15px 25px 10px;
  margin-bottom: 20px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table {
  width: 100%;
  border-collapse: collapse;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table th, .live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table td {
  padding: 5px 0;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table tr:last-child td {
  padding-bottom: 18px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table td {
  font-size: 20px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table tfoot th, .live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table tfoot td {
  border-top: 1px solid #ccc;
  padding-top: 15px;
  padding-bottom: 5px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table thead th, .live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table tfoot th {
  font-weight: 700;
  font-size: 16px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table thead tr th:last-child {
  text-align: right;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table tbody tr td:last-child {
  text-align: right;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table tfoot tr th {
  width: 33.33%;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table tfoot tr th:nth-child(2) {
  text-align: center;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table tfoot tr .payment_status button {
  width: 150px;
  height: 42px;
  border-radius: 8px;
  background: #e8f7f2;
  color: #22ad7e;
  font-size: 16px;
  font-weight: 700;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  margin: auto;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_payment .payment_table tfoot tr th:last-child {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .instruction {
  padding: 15px 25px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 20px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .instruction h4 {
  font-size: 16px;
  margin-bottom: 15px;
  font-weight: 700;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .instruction p {
  margin-bottom: 0;
  font-size: 16px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 40px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_actions a {
  width: 130px;
  height: 45px;
  border: 1px solid #7a7a7a;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 16px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_actions a:hover {
  background: #7a7a7a;
  color: #fff;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_actions a:not(:last-child) {
  margin-right: 20px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_accept_reject {
  padding-left: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  -webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
          box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.11);
  margin-bottom: 5px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_accept_reject h4 {
  font-size: 16px;
  margin-bottom: 0;
  font-weight: 700;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_accept_reject a.reject {
  margin-left: auto;
  margin-right: 40px;
  color: #686868;
  font-weight: 400;
  letter-spacing: 1px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_accept_reject a.reject:hover {
  color: #22ad7e;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_accept_reject a.acceptit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 65px;
  width: 150px;
  background: #22ad7e;
  color: #fff;
  font-weight: 700;
  border-radius: 8px;
}

.live_orders_main .main_content .main_cont_wrapper .order_info_wrapper .outlet_details .order_accept_reject a.acceptit:hover {
  background: #058a5d;
}
/*# sourceMappingURL=style.css.map */